/* rem and em: In CSS, the rem unit is only relative to the document's root element, while the em unit is only 
relative to the immediate parent of the targeted element. This means that em sizes are inherited from parent 
elements, while rem sizes are inherited only from the root element. Ex of rem: In Omni-food.css file, rem is
depend on html font-size.*/

/* rem and em do not depend on html font-size in media queries! and we will always use "em" in media queries tag!
becuase rem has apparently some bugs in the browsers when use in media queries.  */
/* Instead, 1rem = 1em = 16px, sometimes rem & em is not equally to 16 but 12. if 12 is not the value then you
have to search by playing around the numbers with the help of browser developer tool.  */

/* Pros Point: Always responsive your website according to elements breaking. Avoid making responsiveness
according to every mobile phones, tablets and screens etc. 
Also try to avoid too much responsiveness, because not every element be fixed that's a normal thing so 
don't overstress it. Ex: you have made 20 responsive query in a single file, which is basically a bad practice.*/

/**********************************************************************************/
/* BELOW 1050px (SMALLER DESKTOPS) */
/**********************************************************************************/

/* 1050/12 =  87.5, round-up to = 88em */
@media (max-width: 88em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.6rem;
  }

  .testimonials-container {
    padding: 4.8rem;
  }

  .testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }

  .testimonial-text {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding: 1.2rem;
  }
}

/**********************************************************************************/
/* BELOW 925px (LANDSCAPE TABLET) */
/**********************************************************************************/

/* 925/12 = 77.08, round-up to = 78em */
@media (max-width: 78em) {
  /* By this html trick comes into handy to decrease all font-size of a page at once
  otherwise we have to manually decrease the font-size of every element, If & only If
  we use pixels, That's why we use rem instead of px! in Omni-food.css file. */
  html {
    /* Here we know the power of rem! */
    /* Decreasing the font-size from 10px to 9px, so 1rem = 9px. */
    /* 9px / 16px = 0.5625 * 100 = 56.25% */
    font-size: 56.25%;
  }
  /* Note: This trick does not apply on Images because it is defined by percentages. */
}

/**********************************************************************************/
/* BELOW 840px (ALSO LANDSCAPE TABLET) */
/**********************************************************************************/

/* 840/12 = 70em */
@media (max-width: 70em) {
  .hero {
    max-width: 115rem;
    gap: 8rem;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero-description {
    font-size: 2rem;
  }

  .hero-img {
    width: 90%;
  }

  .delivered-imgs img {
    width: 4.1rem;
    height: 4.1rem;
  }
}

/**********************************************************************************/
/* BELOW 770px (PORTRAIT TABLET) */
/**********************************************************************************/

/* 768/12 = 64em */
@media (max-width: 64em) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 12.8rem;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
  }

  .delivered-imgs img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 3.2rem 3.2rem 4.8rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial-text {
    font-size: 1.8rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 85%;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 2.4rem;
  }
}

/**********************************************************************************/
/* BELOW 660px (SMALL TABLET) */
/**********************************************************************************/

/* 660/12 = 55em */
@media (max-width: 55em) {
  /* Making Mobile Burger Navigation */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    display: block;
    position: absolute; /* Its relative is applied on parent-element "header" */
    top: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.96);
    width: 100%;
    height: 100vh;

    /* For animation we set navigation-panel into left side of screen and hide it by "overflow-x" property,
    used in body and html tags in Omni-food.css file. And comes after on our screen when we apply ".nav-open" class. */
    transform: translateX(100%);

    display: flex;

    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in;

    /* Hides Navigation */
    /* We can do that to hide navigation, but it restrict animation of 
    transition property, so we cannot apply display-property. Instead, we use
    opacity + pointer-event + visibility */
    /* display: none; */

    /* But opacity problem is that it only fades element to ghost mode but it 
    is still there when we use tab from keyboard so, In order to remove properly
    we have to make unaccessible from Keyboard and mouse as well as hide from screen
    readers.  */

    /* 1) Opacity */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  /* This means; when "nav-open" class is applied through javascript language
  then "main-nav" is applied from parent element class ".nav-open". */
  /* In Conclusion: If only ".nav-open" exist then this class exist ".main-nav" */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* Animation will be done and navigation panel comes on our screen or initial postion. */
    transform: translateX(0);
  }

  /* If only ".nav-open" exist then this class exist ".icon-mobile-nav[name="close-outline"]" */
  .nav-open .icon-mobile-nav[name="close-outline"] {
    /* Set "none" to "block" from Omni-food.css*/
    display: block;
  }
  /* And when close outline be visible(block) then we have to hide burger "menu-outline". */
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    /* Set "block" to "none" to hide it.*/
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }

  /* For "Meal Cards" & "Feature Containers"  */
  .grid--col-3,
  .grid--col-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* We make Diet column into that column that occupies all sapce of grid from 1 to -1,
  so, we can center the diet-list. */
  .diet {
    grid-column: 1 / -1;
    justify-self: center;
  }

  /* Pricing */
  .pricing-plan {
    width: 100%;
  }

  /* Footer */
  .grid--footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav-col {
    grid-row: 1 / -1;
  }

  .address-col {
    /* span 2: Occupies two column space. */
    grid-column: span 2;
    justify-self: center;
  }
}

/* FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
